<p-card >
  <h2>{{(selectedId ? "Update/View Post" : "Create Post") | translate }}</h2>
  <form class="post-form" [formGroup]="form">

    <textarea rows="3" pInputTextarea [autoResize]="true" formControlName="content" [style]="{width: '100%'}" class="mb-2"></textarea>
    <app-drag-n-drop />

    <div class="flex justify-content-end mt-2 gap-2">
      <p-button label="{{FormActions[actionButton] | translate}}" (click)="emitAction()"/>
      <p-button  label="{{'Clear' | translate}}" (click)="clear()" severity="secondary"/>
    </div>

  </form>
</p-card>
