<mat-card class="form-card">
  <h2>{{selectedId ? "Update/View Post" : "Create Post"}}</h2>
  <form class="post-form" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" (click)="emitAction()">
        {{actionButtonLabel}}
      </button>
      &nbsp;
      <button  mat-raised-button color="warn" (click)="clear()">
        Clear
      </button>
    </div>

  </form>
</mat-card>
