<div class="dropzone" fileDragDrop (filesChangeEmiter)="populateFiles($event)">

  <div class="header-action">
    <button mat-raised-button color="primary">
      <input type="file" name="file" id="file" (change)="onFileChange($event)" multiple>
      <label for="file">Select your file</label>
    </button>
    <span> or Drop it here!</span>
  </div>

  <div class="scroll-container">
    <div class="files-container">

      <mat-card *ngFor="let f of (files$ | async)" style="width: 150px; height: 200px;">
        <mat-card-header>
          <mat-card-title>{{displayFileName(f.file?.name)}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; justify-content: center; align-items: center; height: 120px;">
            <img *ngIf="fileIsImage(f.file)" alt="{{f.file?.name}}" src="{{f.src}}" height="100"/>
            <img *ngIf="fileIsPdf(f.file)" src="assets/images/pdf-icon-64.png" alt="pdf icon">
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-mini-fab color="warn" (click)="deleteFile(f);">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>


<!--<button class="btn btn-success btn-sm" [disabled]="!files" (click)="upload()">-->
<!--  Upload-->
<!--</button>-->



