
<input type="file" name="file" id="file" (change)="onFileChange($event)" multiple>
<label for="file">
  <div fileDragDrop class="file-drag-drop" (filesChangeEmiter)="populateFiles($event)">
    <div class="flex justify-content-between">
      <div class="flex-grow-1">
        <div style="text-align: center;">{{'Select your file' | translate}} </div>
        <div style="text-align: center;">{{'or drop it here!' | translate}}</div>
      </div>
      <p-button (onClick)="close($event)" size="small"
                icon="pi pi-times" [rounded]="true" severity="secondary"/>
    </div>
    <div class="scroll-container">
      <div class="files-container">

        <p-card *ngFor="let f of (files$ | async)" [style]="{width: '130px', height: '150px'}"
                (click)="preventDefault($event)">
          <div class="flex justify-content-between align-items-center">
            <p style="font-size: 0.75rem;">{{displayFileName(f.file.name)}}</p>
            <p-button icon="pi pi-times" [text]="true" (click)="deleteFile($event, f.url);" [rounded]="true" severity="danger"/>
          </div>
          <div style="display: flex; justify-content: center; align-items: center; height: 120px;">
            <img *ngIf="fileIsImage(f.file)" alt="{{f.file.name}}" src="{{f.src}}" style="width:100px; height: 100px; object-fit: cover; object-position: 50% 50%;"/>
            <img *ngIf="fileIsPdf(f.file)" src="assets/images/pdf-icon-64.png" alt="pdf icon">
          </div>
        </p-card>

      </div>
    </div>
  </div>
</label>






