
.dropzone {
  background-color: #eee;
  border: dotted 1px #aaa;
}

input[type="file"]{
  display:none;
}

.header-action{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.files-container {
  display: flex;
  justify-content:start;
  gap:10px;
  padding: 0 20px 20px;
  height: 220px;
}
