.editor-container{
  background-color: #F0F2F5;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

.message-container {
  margin: 1rem;
  padding: 1rem ;
  background-color: #F0F2F5;
  border-radius: 1rem;
}
