

<div style="max-height: 60vh; overflow-x: clip; overflow-y: auto;">
  <app-post-card [post]="post" [isDialog]="true" (commentClick)="comment()" />

  <p-divider [style]="{'width' : '90%', 'margin' : '0 auto 0 auto'}" />

  <div class="message-container" *ngFor="let comment of post.comments">
    <p style="font-weight: bold; font-size: 0.8rem; margin-bottom: 0.3rem;">{{comment.author.firstName}} {{comment.author.lastName}}</p>
    <app-prose-mirror-display [content]="comment.content"/>
  </div>
</div>

<div class="editor-container">
  <prose-mirror-editor #editor />
  <div class="flex justify-content-end">
    <p-button  icon="pi pi-send" [rounded]="true" [text]="true" (click)="addComment()" [disabled]="isEmpty()"/>
  </div>
</div>

