<div class="p-3" style="border-radius: 10px; width: 396px;">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <input type="text" pInputText class="input-login" placeholder="{{'Email' | translate}}" formControlName="username">
    <input type="password" pInputText class="input-login" placeholder="{{'Password' | translate}}" formControlName="password">
    <p-button type="submit"  label="{{'Log In' | translate}}" />
    <p style="color: red; text-align: center; font-size: 0.8rem;" *ngIf=" error$ | async">{{error$ | async}}</p>

  </form>

  <hr>

  <div style="display: flex; justify-content: center;">
    <p-button [routerLink]="['register']" routerLinkActive="router-link-active" label="{{'Create new account' | translate}}"  severity="success" />
  </div>

</div>
