<div class="mat-elevation-z3 p-3" style="border-radius: 10px; width: 396px;">

  <form [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field appearance="outline" style="width: 100%;">
        <input type="text" matInput placeholder="Nom d'utilisateur" formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <input type="password" matInput placeholder="Mot de passe" formControlName="password">
      </mat-form-field>

      <button type="submit" class="btn btn-primary btn-login" style="width: 100%;" >
        Se connecter
        <mat-icon iconPositionEnd  >
          <mat-spinner  *ngIf="loading$ | async" diameter="15" style="--mdc-circular-progress-active-indicator-color:white;" ></mat-spinner>
        </mat-icon>
      </button>

      <p style="color: red; text-align: center; font-size: 0.8rem;" *ngIf=" error$ | async">{{error$ | async}}</p>

  </form>

  <hr>

  <div style="display: flex; justify-content: center;">
    <button [routerLink]="['register']" routerLinkActive="router-link-active"  class="btn btn-success btn-login" style="width: 60%;">Créer un compte</button>
  </div>

</div>
