<!-- Dumb component command bar -->
<app-post-command-bar (action)="executeCommandBarAction($event)"/>
<!-- Dumb component anti hero list -->

<ng-container *ngIf="(getProcess$ | async)?.loading === true" >
  <div style="display: flex; justify-content: center; margin-top: 5em;">
    <mat-spinner [diameter]="40"/>
  </div>
</ng-container>

<ng-container *ngIf="(getProcess$ | async)?.loading === false">
  <div *ngIf="(getProcess$ | async)?.error !== null" class="alert alert-danger" >{{(getProcess$ | async)?.error}}</div>
  <app-post-list *ngIf="(getProcess$ | async)?.error === null" [posts$]="posts$" (post)="selectPost($event)"  [headers]="headers"/>
</ng-container>
