<!-- Dumb component command bar -->
<app-post-command-bar (action)="executeCommandBarAction($event)"/>
<!-- Dumb component anti hero list -->

<ng-container *ngIf="(loading$ | async) === true" >
  <div style="display: flex; justify-content: center; margin-top: 5em;">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>
</ng-container>

<ng-container *ngIf="(loading$ | async) === false">
  <div *ngIf="(posts$ | async)?.length === 0"  >No post to display </div>
  <app-post-card *ngFor="let post of (posts$ | async)" [post]="post" />
</ng-container>
