<div class="flex justify-content-between align-items-center	 p-3">
  <div>
    <app-avatar-profile />
    <span >{{(profile$ | async)?.fullname | titlecase}}</span>
  </div>

  <p-button icon="pi pi-images" severity="success" [rounded]="true" [text]="true" size="large" (onClick)="showUpload()"/>

</div>
<form class="post-form p-3" [formGroup]="form" style="width: 30rem;">

  <div style="font-size: 2rem; margin: 1rem 0;">
    <prose-mirror-editor #editor placeholder="Quoi de neuf ?" />
  </div>

<!--  <textarea rows="3" pInputTextarea-->
<!--            autofocus-->
<!--            placeholder="Quoi de neuf ?"-->
<!--            [autoResize]="true"-->
<!--            formControlName="content"-->
<!--            [style]="{width: '100%', 'font-size' : '1.8rem', 'border-width' : '0' }"-->
<!--            class="mt-3 mb-3"></textarea>-->

  <app-drag-n-drop *ngIf="uploadEnabled" (closeEmiter)="closeUpload()" />

  <p-button label="{{'Publier' | translate}}"
            (click)="save()"
            [disabled]="isEmptyMessage()"
            styleClass="mt-3"
            [style]="{width: '100%' }"

  />

</form>
