
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  border: 1px solid;
}

:host ::ng-deep .delete-spinner circle{
  stroke: white;
}

:host ::ng-deep .p-avatar-group p-avatar+p-avatar {
  margin-left: -0.6rem;
}

.image-crop {
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
