@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

/* You can add global styles to this file, and also import other style files */
$primary: #1877f2;
$success: #42b72a;
$danger: #fa383e;

//$blue: #1877f2;
//$green: #42b72a;
//$red: #fa383e;

//@import "../node_modules/bootstrap/scss/bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
  position: static;
  margin-top: 0px;
}

.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: flex-start;
}

.error.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  border-radius: 10px;
}

.success.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
  border-radius: 10px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label{
  color: inherit !important;
}
