@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

/* You can add global styles to this file, and also import other style files */
$primary: #1877f2;
$success: #42b72a;
$danger: #fa383e;

//$blue: #1877f2;
//$green: #42b72a;
//$red: #fa383e;

//@import "../node_modules/bootstrap/scss/bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
  position: static;
  margin-top: 0px;
}

.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: flex-start;
}

.error.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  border-radius: 10px;
}

.success.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
  border-radius: 10px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label{
  color: inherit !important;
}

p {
  margin: 0;
}

//.p-tooltip .p-tooltip-text {
//  background-color: white;
//  color: #000;
//  width: fit-content;
//}

.p-tooltip .p-tooltip-text {
  padding : 3px;
  font-size: 0.7rem;
}

.prosemirror-mention-node {
  color: blue !important;
  text-decoration: underline !important;
}
.prosemirror-tag-node {
  color: gray !important;
  font-style: italic;
}

.suggestion-item-list {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.suggestion-item {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.ProseMirror-menubar {min-height: 40px !important;}

.suggestion-item-active {
  background-color: #bbdfff;
}

.ProseMirror-menubar-wrapper {
  max-height: 500px;
}

.ProseMirror.ProseMirror-example-setup-style  {
  //max-height: 100%;SSS
  height:150px;
  overflow: auto;
}

.ProseMirror p {margin:0 !important;}
