
<p-toolbar >
  <div class="navbar-container" >
    <div>
      <span  >{{"Social App" | translate}}</span>
    </div>
    <div class="navbar-end" >
      <span >{{(profile$ | async)?.firstname | titlecase}}</span>
      <span > {{(profile$ | async)?.lastname | titlecase}}</span>
      <p-button icon="pi pi-sign-out" *ngIf="authService.isAuthenticated()" (click)="logout()" [rounded]="true" [text]="true"/>

      <p-dropdown [(ngModel)]="selectedLanguage" [options]="languages" (onChange)="selectLanguage()" >
        <ng-template let-language pTemplate="item">
          {{language.display}}
        </ng-template>
      </p-dropdown>
    </div>
  </div>
</p-toolbar>

