
<p-toolbar [style]="{ 'border-radius': '0' , 'padding': '0' }">

  <span class="navbar-container" >
    <p-avatar
              image="assets/images/SA_Logo.png"
              styleClass="mr-2"
              size="xlarge"
              shape="circle" />

    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText
             style="background-color: #f0f2f5; border-radius: 1.5rem;"
             placeholder="Rechercher" />
    </p-iconField>
  </span>

  <span style="margin-top: auto;">
      <p-tabMenu [model]="menuItems"  />
  </span>

  <a class="navbar-end" style="padding: 1rem" >
    <span (click) = "panelmenu.toggle($event)">
      <app-avatar-profile size="large" />
    </span>
    <p-overlayPanel #panelmenu>

    <div class="flex flex-column w-15rem">

          <div style="padding: 1rem;">
            <app-avatar-profile />
            <span >{{(profile$ | async)?.fullname | titlecase}}</span>
          </div>

        <p-slideMenu [model]="profileItems"></p-slideMenu>

      </div>
    </p-overlayPanel>

  </a>

</p-toolbar>

