.example-spacer {
  flex: 1 1 auto;
}

.select-lang {
  color: white ;
  background-color:inherit;
  width: 120px;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.navbar-end{
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-tooltip {
  background-color: #0b8aff
}




