
<div class="container-fluid">

  <div class="row pt-3">
    <div class="col-md-6 p-3" style="display: flex; justify-content: center">
      <div style="width: 396px;">

        <h1 style="font-size: 2rem; font-weight: bolder" class="text-primary">Social App</h1>
        <a href="/oauth2/authorization/google" >Google</a>
        <br>
        <a href="/oauth2/authorization/facebook" >Facebook</a>
        <h3 >twitter</h3>
        <h3 >linkdin</h3>

      </div>

    </div>

    <div class="col-md-6 p-3" style="display: flex; justify-content: center">
      <app-auth-form (submitEmitter)="submit($event)" />
    </div>
  </div>

</div>
